In [2]:
import pandas as pd
df = pd.read_csv("weather_data.csv")

In [3]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
df.shape

(6, 4)

In [5]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [6]:
df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [7]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [8]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [9]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [10]:
type(df.event)

pandas.core.series.Series

In [11]:
df[["event"]]

   event
0   Rain
1  Sunny
2   Snow
3   Snow
4   Rain
5  Sunny

In [12]:
df.temperature.max()

35

In [48]:
df.describe()

          index   level_0  temperature  windspeed
count  6.000000  6.000000     6.000000   6.000000
mean   2.500000  2.500000    30.333333   4.666667
std    1.870829  1.870829     3.829708   2.338090
min    0.000000  0.000000    24.000000   2.000000
25%    1.250000  1.250000    28.750000   2.500000
50%    2.500000  2.500000    31.500000   5.000000
75%    3.750000  3.750000    32.000000   6.750000
max    5.000000  5.000000    35.000000   7.000000

In [14]:
df[["event", "temperature"]][df["temperature"] < df["temperature"].max()]

   event  temperature
0   Rain           32
2   Snow           28
3   Snow           24
4   Rain           32
5  Sunny           31

In [34]:
df

          index  level_0  temperature  windspeed  event
day
1/1/2017      0        0           32          6   Rain
1/2/2017      1        1           35          7  Sunny
1/3/2017      2        2           28          2   Snow
1/4/2017      3        3           24          7   Snow
1/5/2017      4        4           32          4   Rain
1/6/2017      5        5           31          2  Sunny

In [47]:
df.set_index("day", inplace=True)

KeyError: "None of ['day'] are in the columns"

In [39]:
df

          index  level_0  temperature  windspeed  event
day
1/1/2017      0        0           32          6   Rain
1/2/2017      1        1           35          7  Sunny
1/3/2017      2        2           28          2   Snow
1/4/2017      3        3           24          7   Snow
1/5/2017      4        4           32          4   Rain
1/6/2017      5        5           31          2  Sunny

In [40]:
df.loc["1/1/2017"]

index             0
level_0           0
temperature      32
windspeed         6
event          Rain
Name: 1/1/2017, dtype: object

In [44]:
df.drop(["index", "level_0"], axis=1)

       temperature  windspeed
event
Rain            32          6
Sunny           35          7
Snow            28          2
Snow            24          7
Rain            32          4
Sunny           31          2

In [46]:
df.set_index("event", inplace=True)
df

       index  level_0  temperature  windspeed
event
Rain       0        0           32          6
Sunny      1        1           35          7
Snow       2        2           28          2
Snow       3        3           24          7
Rain       4        4           32          4
Sunny      5        5           31          2

In [1]:
import tensorflow as tf

from tensorflow.python.client import device_lib

print("Num GPUs Available: ", len(tf.config.list_physical_devices('GPU')))
device_lib.list_local_devices()

Num GPUs Available:  1

[name: "/device:CPU:0"
 device_type: "CPU"
 memory_limit: 268435456
 locality {
 }
 incarnation: 7660823440384166026
 xla_global_id: -1,
 name: "/device:GPU:0"
 device_type: "GPU"
 memory_limit: 5738397696
 locality {
   bus_id: 1
   links {
   }
 }
 incarnation: 15512031155371665660
 physical_device_desc: "device: 0, name: NVIDIA GeForce RTX 3070, pci bus id: 0000:01:00.0, compute capability: 8.6"
 xla_global_id: 416903419]

In [2]:
import os
import tensorflow as tf

os.environ['CUDA_VISIBLE_DEVICES'] = '0'
print(len(tf.config.list_physical_devices('GPU')))
tf.test.is_gpu_available()

# if tf.test.gpu_device_name():
#     print('GPU found')
# else:
#     print("No GPU found")

0

False