Konversi tipe data string ke numerik

In [1]:
import pandas as pd
print(pd.__version__)

1.4.2

In [2]:
data = {"col1" : ["1", "2", "3", "teks"], "col2" : ["1", "2", "3", "4"]}

df = pd.DataFrame(data)
df

   col1 col2
0     1    1
1     2    2
2     3    3
3  teks    4

In [3]:
df.dtypes

col1    object
col2    object
dtype: object

In [4]:
df_x = df.astype({"col2" : "int"})
df_x

   col1  col2
0     1     1
1     2     2
2     3     3
3  teks     4

In [5]:
df_x.dtypes

col1    object
col2     int32
dtype: object

In [6]:
dt = df.apply(pd.to_numeric, errors = "coerce")
dt

   col1  col2
0   1.0     1
1   2.0     2
2   3.0     3
3   NaN     4

In [9]:
dt = dt.fillna(dt.col1.mean())
dt

   col1  col2
0   1.0     1
1   2.0     2
2   3.0     3
3   2.0     4

In [10]:
dt = dt.astype({"col1" : "int"})
dt

   col1  col2
0     1     1
1     2     2
2     3     3
3     2     4